.bottom-block-contact {
    color: #394b50;
    text-align: center;
}

.bottom-block h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 0.7;
    text-transform: uppercase;
    margin-top: 100px;
}

.bottom-block p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 55px;
}

.boxes-bottom {
    display: flex;
    justify-content: space-between;
}

.bbox h5 {
    text-transform: uppercase;
    font-size: 20px;
}

.bbox p {
    font-size: 13px;
    color: #7b7b7b;
}

.contact-bottom {
    color: #394b50;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 50px;
}