.General {
    text-align: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.base_block {
    background: url('../../assets/f5fa1f5df439df6778e664b9a2fafe1c.jpg') 50% 0 no-repeat;
    padding: 15px 0;
    min-height: 690px;
    margin-bottom: 20px;
}

.inner-block {
    width: 38%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 219px;
}

.inner-block p {
    background-color: rgba(40, 40, 40, 0.8);
    font-family: "Bitter", serif;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 0 11px;
    margin: 1px;
    word-spacing: 4.2px;
    line-height: 41px;
}

.inner-block span {
    font-style: italic;
    text-transform: uppercase;
}

.bottom-block {
    background-color: lightgray;
}

.photo-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/fl_cr.jpg);
    background-repeat: no-repeat;
    min-height: 500px;
    text-align: center;
    background-position: center;
    margin: 20px auto;
    vertical-align: middle;
}

.photo-text span {
    font-style: italic;
    text-transform: uppercase;
    color: #cccccc;
}

.bottom-block h5 {
    font-size: 42px;
    color: #fff;
    margin-top: 0;
    line-height: 1.3;
}