.About {
    text-align: center;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: lightgray;
}

.About h1 {
    color: grey;
}

.about-pic {
    background-image: url(../../assets/photo-1535350356005-fd52b3b524fb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-top: 250px;
    padding-bottom: 25px;
    border-bottom: 6px solid #ccc;
}

.about-info {
    background-color: #7b7b7b;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    border: white;
}

.about-p {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.about-p_p {
    color: white;
    font-style: italic;
    font-size: 20px;
}

.team_grid {
    margin-top: 40px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team_item {
    position: relative;
    width: -webkit-calc(25% - 22.5px);
    width: calc(25% - 22.5px);
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 13px;
    display: inline-block;
    margin-right: 10px;
}

.team_item .image_1 {
    background-image: url("../../assets/20190214174619-9721.png");
    padding-bottom: 110%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    border: 6px solid grey;
    border-radius: 20px;
}

.team_item .image_2 {
    background-image: url("../../assets/Snimok-ekrana-2019-02-15-v-16.03.56.png");
    padding-bottom: 110%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    border: 6px solid grey;
    border-radius: 20px;
}

.team_item .image_3 {
    background-image: url("../../assets/1-2.jpg");
    padding-bottom: 110%;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    border: 6px solid grey;
    border-radius: 20px;
}

.team_item h3 {
    color: gray;
}

.team_item p {
    color: #7b7b7b;
}

.blocks {
    background-color: gray;
    margin-bottom: 50px;
}

.why {
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
}

.boxes {
    color: #fff;
    text-align: left;
    display: flex;
    margin-left: 40px;
}

.size-b {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    max-width: 33.33333%;
    padding-right: 32px;
    padding-bottom: 3%;
}

.block-2 {
    background-color: #52a295;
    padding-left: 40px;
}

.block-3 {
    padding-left: 40px;
}
.icons {
    padding-right: 30px;
}